<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forms & Inputs</title>
</head>
<body>

    <form>
        
        <article>

            <div>

                <input type="submit"><br><br>                
                <input type="submit">

            </div>

            <h2>This is h2</h2>

            <h3>This is h3</h3>

            <aside>

                <h4>This is inside of the aside; an h4</h4>

                <div>
                    <input type="submit" />
                </div>

            </aside>

        </article>


    </form>

</body>
</html>